name: "Hello World Workflow"

on:
  workflow_dispatch:
  
jobs:
  print_data_ubuntu:
    name: Printa Data Atual Ubuntu
    runs-on: ubuntu-latest
    
    steps:
      - name: Printa Data Atual Ubuntu
        run: date
        
  print_data_windows:
    name: Printa Data Atual Windows
    runs-on: windows-latest
    needs: print_data_ubuntu
    
    steps:
    - name: Printa Data Atual Windows
      run: date
      
  print_data_macos:
    name: Printa Data Atual MacOS
    runs-on: macos-latest
    needs: print_data_windows
    
    steps:
    - name: Printa Data Atual MacOS
      run: date
          
  print_data_final:
    name: Printa Data Final
    runs-on: ubuntu-latest
    needs: print_data_ubuntu
    
    steps:
    - name: Printa Data Final
      run: date
