name: "Hello World Workflow"

on:
  workflow_dispatch:
  
jobs:
  print_hello_world:
    name: Hello World!
    runs-on: ubuntu-latest
    
    steps:
      - name: Hello World!
        run: echo 'Hello World!'
        
  print_hello_world_2:
    name: Hello World 2!
    runs-on: windows-latest
    needs: print_hello_world
    
    steps:
    - name: Hello World 2!
      run: echo 'Hello World 2!'
  
